@use '../mixins';


.shopping-cart-dropdown {
  position:absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  background: none;
  width: 350px;
  border: none;
  margin: 31px 0 0 0;
  gap: 4px;
  z-index: 20; // above when active
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  background-color: #c9dee0;

  .checkout-link {
    align-self: flex-end;
    width: 100px;
    margin: 25px 25px 25px 0;
  }
}


@include mixins.respond-to(desktop) {
  .shopping-cart-dropdown {
    width: 800px;
  }
}