.product-list-li {
    margin: 35px 0 45px 0;

    .product-list-img {
        margin-top: 25px;
    }

    .product-list-name {
        font-size: 2.2rem;
        font-weight: bold;
        margin: 10px 0 0 0;
    }

    .product-list-price {
        font-size: 1.8rem;
        font-weight: bold;
    }
}